//-==========================
  message
//-==========================
|@if (Session()->has('message'))
.uk-alert-success(uk-alert).uk-margin-remove
  //- hide
  a.uk-alert-close(uk-close)

  //- message
  .uk-container
    p {!! nl2br(session()->get('message')) !!}
|@endif

//-==========================
  errors 
//-==========================
|@if ($errors->any())
.uk-alert-danger(uk-alert).uk-margin-remove
  //- hide
  a.uk-alert-close(uk-close)

  //- errors
  .uk-container
    ul.uk-list.uk-list-bullet
      |@foreach($errors->all() as $error)
      li {{ $error }}
      |@endforeach
|@endif

