<template lang="pug">
div Hello Vue 3 !!
</template>

<script setup>
import { ref, onMounted } from 'vue'
onMounted(() => {
  console.log('Hello Vue 3');
})
</script>

<style lang="sass" scoped>
div
  color: green
</style>
