block meta
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="csrf-token", content!="{{ csrf_token() }}")
    link(href!="{{ asset('plugins/uikit.min.css') }}", rel="stylesheet")
    script(src!="{{ asset('plugins/uikit.min.js') }}")
    script(src!="{{ asset('plugins/uikit-icons.min.js') }}")
  body
    //-==========================
      Message 
    //-==========================
    |@include('components.common.message')

    //-==========================
      Content 
    //-==========================
    |@yield('content')

    //-==========================
      Vars 
    //-==========================
    script.
      var baseUrl="{{ URL::to('/') }}"
